services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - parking-network

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: nc -z localhost 9092
      interval: 5s
      timeout: 5s
      retries: 15
    networks:
      - parking-network

  user-db:
    image: postgres:16-alpine
    container_name: user-db
    ports:
      - "5556:5432"
    volumes:
      - c:\tmp\parking-user-backend\data:/var/lib/postgresql/data
      - c:\tmp\parking-user-backend\sql:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: 2611
    networks:
      - parking-network

networks:
  parking-network:
    driver: bridge